body {
  background-color: #112233;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightgrey;
}

a {
  color: lightgreen;
  text-decoration: none;
}
a:hover {
  color: lightskyblue;
  text-decoration: underline;
}
